html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
}

#bg-img {
    position: absolute;
    z-index: 0;
    background: url('https://img.freepik.com/free-vector/gradient-stock-market-concept_23-2149166929.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    filter: blur(20px)
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}